body{
    margin: auto;
    width: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

img{
    width: 100px;
}

#graphe_hf_sport{
    height: 400px;
    overflow:auto
}

#slider{
    margin-top: 1em;
    margin-bottom: 1em;
}